spring:
  application:
    name: seemsclever
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://localhost:5432/seemsclever
    username: postgres
    password: postgres
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring:
          json:
            add:
              type:
                headers: false

    consumer:
      group-id: my-group
      auto-offset-reset: earliest

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
    access:
      default: unrestricted
  endpoint:
    prometheus:
      access: unrestricted
  prometheus:
    metrics:
      export:
        enabled: true



server:
  port: 8181